// @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto+Condensed:wght@700&family=Ysabeau+SC:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Old+Standard+TT:wght@400;700&display=swap');
$base-font-size: 20px;
$font: 'old standard TT', serif;
$body-font: $font;
$headers-font: $font;

.text-white {
  color:white;
}
