.label {
  text-align: center;
  font-family: $font;
  color: $primary-color;
  margin: 5px 5px 0 5px;
  font-size: 22px;
}

.label-meal {
  text-align: center;
  font-family: $font;
  color: $primary-color;
  margin: 5px 5px 0 5px;
  font-size: 22px;
}
