ul.loading-list {
  list-style-type: none;

  li span.loading-bold {
    font-weight: 700;
  }
}
h2.choice-bold {
  font-weight: 700;
}

h2.calc {
  font-weight: 700;
  font-size: 25px;
}

img.load {
  width: 400px;
  height: 110px;
}
