
  <div class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#eat">Let's Eat</a>
    <a href="#bill">Upload Bill</a>
    <a href="#profile">Account</a>
  </div>


<%# <img src="app/assets/images/your_icon.png" alt="Navbar Icon" class="navbar-logo"> %>
