<div class="card-occasion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.soglos.com/images/food-drink/sg-food-drink-date-night-cheltenham-august-2023-hotlist.jpg)">
  Romantic
</div>

<div class="card-get-started">
  <%= image_tag "budgeting.jpeg", class: "budget-pic" %>
  <div class="overlay-text">
    Budgeting
  </div>
</div>


<%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyjOPRZIW1WGXnfBDHqs-9f1D1X8T3e60c2Q&usqp=CAU)" %>



<%# this div below (temp) was just so i could fit more card onto one page %>
<div class="temp">
<div class="card-food-preference" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1604112983368-181fa63d10b4?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  Wheat
</div>





<div class="card-indulge" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1615887023516-9b6bcd559e87?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  Drinks
</div>
</div>


<div class="card-whole-meal" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1468070975228-085c1fdd2d3e?q=80&w=1546&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  Drinks & Food
</div>
