<div class="card-occassion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.soglos.com/images/food-drink/sg-food-drink-date-night-cheltenham-august-2023-hotlist.jpg">
  Romantic
</div>

<div class="card-get-started" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>
