
<div class="home-blocks h-100 w-100">
<%#
  <div class="block block--left">
    <h1>Upload Bill</h1>
  </div> %>
  <%= link_to new_bill_path, class: 'block block--left' do %>
    <h1>Upload Bill</h1>
  <% end %>
  <%= link_to filters_path, class: 'block block--right' do %>
    <h1>Let's Eat</h1>
  <% end %>
<%#
  <div class="block block--right">
    <h1>Let's Eat</h1>
  </div> %>
</div>


































    <%# <img class="overlay-img" src="Logos.png" "> %>
