.location_container {
  position: relative;
  width: 500px; /* You can adjust the container size as needed */
  height: 500px; /* You can adjust the container size as needed */
}

.corner-button {
  position: absolute;
  bottom: 200px;
  right: 100px;
}
