


.navbar {
  background-color: #FDFDFF;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #0A1128;
  // font-family: $font;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


