.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
}

.my-profile-word {
  padding: 0 0 18px 0;
  font-weight: bold;
  color: #87a8c8;
}

.flex-centered {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;
}
