hello from filters event
<div class="card-get-started">
  <%= image_tag "dinner.jpeg", class: "dinner-pic" %>
  <div class="overlay-text">
    <%= link_to "Occasion", filters_occasion_path(:filter => :event)%>
  </div>
</div>
