
<div class="header">
  <div class="name-number">
    <a href="#home">MixEatUp</a>
    <p>1 of 5</p>
  </div>
  <h1>Let's Get Started</h1>
</div>
<div>


<div class="card-get-started">
  <%= image_tag "dinner.jpeg", class: "dinner-pic" %>
  <div class="overlay-text">
    <%= link_to "Occasion", filters_occasion_path(:filter => :event)%>
  </div>
</div>

<div class="card-get-started">
  <%= image_tag "budgeting.jpeg", class: "budget-pic" %>
  <div class="overlay-text">
    <%= link_to "Budget", filters_budget_path(:filter => :event)%>
  </div>
</div>
