Hello from filters index
<button><%= link_to "Occasion", filters_occasion_path(index: "filter-occasion") %></button>
<button><%= link_to "Budget", filters_budget_og_path(index: "filter-budget")  %></button>
