<button><%=link_to "Romantic", filters_meal_path(occasion: "romantic")  %></button>
<button><%=link_to "Family", filters_meal_path(occasion: "family")  %></button>
<button><%=link_to "Friends", filters_meal_path(occasion: "friends")  %></button>
<button><%=link_to "Work", filters_meal_path(occasion: "work")  %></button>
