


<div class="card-occasion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.soglos.com/images/food-drink/sg-food-drink-date-night-cheltenham-august-2023-hotlist.jpg)">

<%=link_to "Romantic", filters_meal_path(occasion: "romantic")  %>
</div>

<div class="card-occasion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://theaustinartisan.com/wp-content/uploads/2019/04/Meal-delivery-2.png)">
  <%=link_to "Family", filters_meal_path(occasion: "family")  %>
</div>

<div class="card-occasion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static01.nyt.com/images/2016/12/15/fashion/15DINNER/15DINNER-superJumbo.jpg)">

  <%=link_to "Friends", filters_meal_path(occasion: "friends")  %>
</div>

<div class="card-occasion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imageio.forbes.com/specials-images/imageserve/289049306/960x0.jpg?height=482&width=711&fit=bounds)">

  <%=link_to "Friends", filters_meal_path(occasion: "friends")  %>
</div>
